* {
    margin: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

body {
    background-color: #CDD0DB;
}

ul {
    list-style: none;
    text-align: center;
    background-color: #9197AA;
    padding: 20px;
}

.welcome {
    font-size: 42px;
    font-style: italic;
    text-align: center;
    color: white;
    background-color: #F7B557;
    padding: 60px;
    margin-bottom: 40px;
}

.card {
    background-color: #e4e5eb;
    width: 900px;
    margin: 0 auto 40px;
    text-align: center;
    min-height: 100vh;
}

.recipe {
    display: inline-block;
    background-color: white;
    width: 250px;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0 auto;
    margin: 10px;
    margin-bottom: 40px;
}

h1 {
    padding: 20px;
}

.recipe p {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}